src
test
npm-debug.log
package-lock.json
yarn.lock
rollup.config.js
tsconfig.json

.DS_Store
.vscode
.travis.yml
.babelrc
.stylelintrc
.eslintrc
.editorconfig
.gitignore

*.swp
*.swo
*.log
*.log.*
*.json.gzip
